{% extends "base.html" %}

{% block content %}
<style type="text/css">
	@media screen and (max-width: 640px) {
	table {
		overflow-x: auto;
		display: block;
	}
}

</style>
	 <div>
	    <a class="btn cyan" href="/new_form" type="submit">Новая заявка</a> 
    </div>
    <br>
    <div>
		Список заявок:
		<table class="bordered">
			<thead>
				<tr>
					<th>Имя группы:</th>
					<th>Дата прибытия: </th>
					<th>Дата выбытия: </th>
					<th>Старший: </th>
					<th>Кто?: </th>
					<th>Размер группы: </th>
					<th>Готова?: </th>
				</tr>
			</thead>
			<tbody>
				{% for p in petitions %}
				<tr>
					<td>{{p.group_name}}</td>
					<td>{{p.date_arr}}</td>
					<td>{{p.date_dep}}</td>
					<td>{{p.senior}}</td>
					<td>{{p.pers_status}}</td>
					<td>{{p.total_persons}}</td>
					<td>{{p.is_ready}}</td>
					<td>
						<a href="/change_guest/{{p.pk}}/">
							<i class="small material-icons tooltipped" data-position="left" data-tooltip="Подробная информация">
								subject
							</i>
						</a>
					</td>
					{% if p.is_ready=="готова" %}
					<td>
						<a href="/create_docx/{{p.pk}}">
							<i class="small material-icons tooltipped" data-position="left" data-tooltip="Получить Word">
								description
							</i>
						</a>
					</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
    </div>
    <script type="text/javascript">
	  $(document).ready(function(){
	    $('.tooltipped').tooltip({delay: 50});
	  });   
    </script>
{% endblock %}
